<h1>Editing contacts </h1>
 
<%= form_for :book, url: book_path(@book), method: :patch do |f| %>
  <% if @book.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@book.errors.count, "error") %> prohibited
      this this from being saved:</h2>
    <ul>
    <% @book.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
<%= f.label :First_Name %>
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<%= f.text_field :firstname %>
<p>
<p>
<%= f.label :Last_Name %>
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<%= f.text_field :lastname %>
</p>
<p>
<p>
<%= f.label :Emailid %>
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<%= f.text_field :emailid %>
</p>
</b>
<p>
<%= f.label :Phone_number %>
&nbsp &nbsp &nbsp
<%= f.text_field :phonenumber%>
</p>
<p>

<%= radio_button :book, :gender, :Male %> Male
<%= radio_button :book, :gender, :Female %>Female
<p>
<p>
<%= f.label :Address %>
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<%= f.text_area :address %>
</p>
<br>
<p>
<%= f.label :photo  %><br>
<%= f.file_field :photo %>
</p>
<p>
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
<%= f.submit %>
<% end %>

<%= link_to 'Back', books_path %>