<h1>Female contacts </h1>
 
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Gender</th>
<th> Emailid</th>
<th>Phonenumber</th>
<th>Address</th>
<th>photo</th>


  </tr>
 
  <% @books.each do |book| %>
    <tr div class ="<%= cycle('odd','even')%>">
      <td><%= book.firstname %></td>
      <td><%= book.lastname %></td>
      <td><%= book.gender %></td>
<td><%= book.emailid %></td>
<td><%= book.phonenumber %></td>
<td><%= book.address %></td>
<td><img src="/data/<%= book.photo %>" width = "50" height ="50" /></td>
<td><%= link_to 'Edit',edit_book_path(book) %></td>
<td><%= link_to 'show',book_path(book) %></td>
<td><%= link_to 'Destroy', book_path(book), method: :delete, data: {confirm: 'are you sure to delete this contact?' }  %></td>
    </tr>
  <% end %>
</table>