<h1>Female contacts </h1>
 <% @books.each do |book| %>
  <div class ="img">
    <img src="/data/<%= book.photo %>" width = "90" height ="90"; margin: 0px; style ="float:left"; border-style ="solid";/>

    <div class="text">
<p><u><strong>
    <%= book.firstname %>
  <%= book.lastname %>
  </strong>
  <br>
  </u>
</p>
  Gender
  <%= book.gender %><br>
  Email &nbps
  <%= book.emailid %><br>
  Phone 
<%= book.phonenumber %><br>
Address
<%= book.address %><br>
</div>
<hr>
</div>
  <% end %>
