<h1 align="center" >Details about the contact:<%= @book.firstname %> </h1> 

<div class ="entry" style="margin-left:200px; float:left">
<img src="/data/<%=@book.photo %>" width="150" height = "200" />
</div>
<div class="display" style="margin-left:500px">
<p>First Name:
<%= @book.firstname %>
</p>
<p>
Last Name:
<%= @book.lastname %>
</p>
<p>
Emailid
<%= @book.emailid %>
</p>
<p>
 Phonenumber:
<%= @book.phonenumber %>
</p>
Address:
<%= @book.address %>
</p>
<p>
Gender
<%= @book.gender %>
<br>
<%= link_to 'back to list', books_path %> 
<%= link_to 'to create new', new_book_path %> 
<%= link_to 'edit', edit_book_path %>
</p>
</div>