<!DOCTYPE html>
<html>
<head>
  <title>Contact</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <header>
<p align="left" > <h1 style="margin:0px" ><img src="/data/contact.png" width="50px" height="50px"/>
Contact Book
</h1></p>
<p align="right">
<%= link_to_unless_current "All",books_path %>
<%= link_to_unless_current "Female", books_female_path %>
<%= link_to_unless_current "Male", books_male_path %><br>
</p>
</header>

</head>
<body>

<%= yield %>

</body>
<footer>
	<p align="center"> All text and design @2014 Report Bee Edusys Ltd.
	</p>
</footer>
</html>
